
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.example-spacer {
    flex: 1 1 auto;
    }
    main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    }
    #section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
    }
    span{
    padding: 5px 5px;
    }
    a{
    text-decoration: none;
    color: white;
    }
    img{
    height: 50px;
    width: 50px;
    }
    


/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
} */