<main>
    <section id="section-login">
        <h2>Login</h2>
        <form class="row g-3">
            
              <label for="staticUsuario" class="visually-hidden">Usuário</label>
              <input type="text" class="form-control" id="staticUsuario" placeholder="email@exemplo.com">
            
            <br>
            
              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="senha">
              <br>
              <button type="submit" class="btn btn-primary mb-3">Login</button>
          
          </form>
    </section>
</main>
